/* Header */
.header-primary {
	background-image: url('/images/navigation/what-we-do/background.jpeg');
	@apply bg-no-repeat bg-right;
}

.header-secondary {
	background-image: url('/images/navigation/company/background.jpg');
	@apply bg-no-repeat bg-right;
}

/* Sidebar */
.sidebar-complete {
	background-image: url('/images/navigation/sidebar/backgrounds/complete.jpg');
	@apply bg-no-repeat bg-right;
}

.sidebar-contact {
	background-image: url('/images/navigation/sidebar/backgrounds/contact.jpeg');
	@apply bg-no-repeat bg-right;
}

.sidebar-project {
	background-image: url('/images/navigation/sidebar/backgrounds/project.jpg');
	@apply bg-no-repeat bg-right;
}

.sidebar-services {
	background-image: url('/images/navigation/sidebar/backgrounds/services.jpg');
	@apply bg-no-repeat bg-right;
}

/* News */
.news-bg-1 {
	background-image: url('/images/components/news/background-1.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-2 {
	background-image: url('/images/components/news/background-2.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-3 {
	background-image: url('/images/components/news/background-3.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-4 {
	background-image: url('/images/components/news/background-4.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

/* Call to Action */
.cta-bg-1 {
	background-image: url('/images/components/cta/instagram-1.jpg');
	@apply bg-no-repeat bg-center bg-cover;
}

.cta-bg-2 {
	background-image: url('/images/components/cta/instagram-2.jpg');
	@apply bg-no-repeat bg-center bg-cover;
}

.cta-bg-3 {
	background-image: url('/images/components/cta/instagram-3.jpg');
	@apply bg-no-repeat bg-center bg-cover;
}

.cta-bg-4 {
	background-image: url('/images/components/cta/instagram-4.jpg');
	@apply bg-no-repeat bg-center bg-cover;
}

.cta-gradient{
	background-image: url('/images/components/cta/background-gradient.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.cta-pinstripe{
	background-image: url('/images/components/cta/pinstripe.svg');
	@apply bg-no-repeat bg-center bg-cover;
}

/* Slider */
.slider-bg-1 {
	background-image: url('/images/components/slider/gradient/background-1.png');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-2 {
	background-image: url('/images/components/slider/gradient/background-2.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-3 {
	background-image: url('/images/components/slider/gradient/background-3.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-4 {
	background-image: url('/images/components/slider/gradient/background-4.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-5 {
	background-image: url('/images/components/slider/gradient/background-5.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-6 {
	background-image: url('/images/components/slider/gradient/background-6.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-7 {
	background-image: url('/images/components/slider/gradient/background-7.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}

.slider-bg-8 {
	background-image: url('/images/components/slider/gradient/background-8.jpeg');
	@apply bg-no-repeat bg-center bg-cover;
}