/* Header */
.header-primary {
	background-image: url('/images/navigation/what-we-do/background.jpeg');
	@apply bg-no-repeat bg-right;
}

.header-secondary {
	background-image: url('/images/navigation/company/background.jpg');
	@apply bg-no-repeat bg-right;
}

/* Sidebar */
.sidebar-complete {
	background-image: url('/images/navigation/sidebar/backgrounds/complete.jpg');
	@apply bg-no-repeat bg-right;
}

.sidebar-contact {
	background-image: url('/images/navigation/sidebar/backgrounds/contact.jpeg');
	@apply bg-no-repeat bg-right;
}

.sidebar-project {
	background-image: url('/images/navigation/sidebar/backgrounds/project.jpg');
	@apply bg-no-repeat bg-right;
}

.sidebar-services {
	background-image: url('/images/navigation/sidebar/backgrounds/services.jpg');
	@apply bg-no-repeat bg-right;
}

/* News */
.news-bg-1 {
	background-image: url('/images/components/news/background-1.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-2 {
	background-image: url('/images/components/news/background-2.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-3 {
	background-image: url('/images/components/news/background-3.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}

.news-bg-4 {
	background-image: url('/images/components/news/background-4.jpg');
	@apply bg-no-repeat bg-right bg-cover;
}
